@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.shimmer {
		background: linear-gradient(
			90deg,
			#eeeeee 0%,
			#eeeeee 35%,
			#dddddd 45%,
			#dddddd 55%,
			#eeeeee 65%,
			#eeeeee 100%
		);
		background-size: 400%;
		animation: loading 1s infinite;
	}

	@keyframes loading {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 100% 0;
		}
	}
}

html {
	@apply scroll-smooth antialiased;
}

body {
	@apply bg-zinc-200 text-[18px] text-zinc-900 antialiased transition-all duration-200 dark:bg-zinc-900 dark:text-zinc-200 sm:text-[16px];
	scroll-behavior: smooth;
}

::selection {
	background-color: #64b0ee;
	color: #fefefe;
}
