@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-100 {
        flex: 0 0 100%;
    }

    .gradient-text {
        @apply bg-gradient-to-r inline-block bg-clip-text text-transparent;
    }

}

html {
    @apply bg-gray-100;
}

::selection {
    background-color: #64b0ee;
    color: #fefefe;
}

html {
    scroll-behavior: smooth;
}

/*.scrollbar-x-hidden::-webkit-scrollbar{*/
/*    width: 0;*/
/*    background: transparent;*/
/*}*/