@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-100 {
        flex: 0 0 100%;
    }

    .gradient-text {
        @apply bg-gradient-to-r inline-block bg-clip-text text-transparent sm:text-[15px] text-[20px];
    }

}

html {
    @apply text-slate-900 bg-slate-200 antialiased;
}

::selection {
    background-color: #64b0ee;
    color: #fefefe;
}

html {
    scroll-behavior: smooth;
}

/*.scrollbar-x-hidden::-webkit-scrollbar{*/
/*    width: 0;*/
/*    background: transparent;*/
/*}*/