@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /*write and use tailwind classes here*/
}

body {
    @apply dark:text-zinc-200 dark:bg-zinc-900 bg-zinc-200 text-zinc-900  antialiased text-[18px] sm:text-[16px] transition-all duration-200;
    scroll-behavior: smooth;
}

::selection {
    background-color: #64b0ee;
    color: #fefefe;
}
